body {
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 2vh 3vw;
  -webkit-tap-highlight-color: transparent;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  font-weight: normal;
  border: none;
  display: block;
}