.collection {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  &__title {
    font-size: 38px;
    margin: 0 auto 30px;
    text-transform: uppercase;
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5vh 10px;

    @media (max-width: 800px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 500px) {
      grid-template-columns: 1fr;
    }

    & .collection__item {
      margin-bottom: 30px;
    }
  }
}
